<!DOCTYPE html>
<html>
<head>
	<title>Ninjas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
<body>
	<p>From <a href="http://www.dailymail.co.uk/news/article-2316547/Japans-ninja-Jinichi-Kawakami-63-hear-needle-drop-room-kill-20-paces.html">DailyMail.com</a>
	<h2>Japan's last ninja: Engineer, 63, who can hear a needle drop in the next room and kill from 20 paces is last in 500-year line of Japanese assassins</h2>
  
    <ul>    	
	    <li> Jinichi Kawakami is 21st head of the Ban clan, a dynasty of secret ninjas</li>
	    <li>He began training in ancient art of ninjutsu aged six under Buddhist master</li>
	    <li>For concentration, he would stare into a candle until he was 'inside' flame</li>
	    <li>For hearing he would practice listening to needle dropping on wood floor</li>
	    <li>Says he will let the art die with him because ninjas 'don't fit with modern day'
	    'We can't try out murder or poisons. Even if we can learn, we can't try it out'</li>
	</ul>
	<img src="{{ url_for('static', filename='img/ninja_article_634x918.jpg') }}" alt="ninja_article_634x918.jpg" height="400">
	<p>Death stars: Jinichi Kawakami demonstrates the traditional Japanese concealed weapon the 'shuriken' at the Iga Ninja Museum</p>
</body>
</html>