*{
margin: 0px auto;
padding: 0px;	
/*outline: 1px dotted blue;*/
}

.box{
	width: 500px;
	border: 1px solid black;
	margin-top: 30px;
	text-align: center
}

.box h1{
	background-color: silver;
	margin-top: 0px;
	font-size: 18px;
	padding: 5px 0px;
}

#form_area{
	/*border: 1px solid black;*/
	margin: 10px;
	padding: 0px 10px;
	height: 300px;
}

#filler{
	background-color: silver;
	height: 20px;

}

#correct{
	width: 150px;
	height: 130px;
	padding-top: 0px;
	margin-top: 20px;
	background-color: lightgreen;
	border: 1px solid black;
}
h2{
	padding-bottom: 10px;
	font-size: 22px;
}
h3{
	margin-bottom: 20px;
}
h5{
	font-size: 18px;
	margin: 10px 0px 10px;
}
#high{
	width: 150px;
	height: 130px;
	padding-top: 45px;
	background-color: red;
	border: 1px solid black;
	color: white;
	font-weight: bold;
}
#low{
	width: 150px;
	height: 130px;
	padding-top: 45px;
	background-color: yellow;
	border: 1px solid black;
	font-weight: bold;
}
button{
	margin-top: 3px;
	padding: 0px 3px;
}