<!DOCTYPE html>
<html>
<head>
	<title>Log-in / Registration</title>
<meta charset="utf-8">
	<!-- Latest boostrap compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}">
</head>
<body>
	<div id="container">
	<h1>Login Registration</h1>
		<div class= "formbox" id="login_area">				
			<h1>User Login:</h1>
			<form action="/users/login" method="post" id="login_user">
			{% csrf_token %}
				<div class="form-group row">
					<label for="user_email" class="2 col-form-label">User Email:</label><br>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_email" name="user_email" placeholder="Enter user's email">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="user_pwd" class="2 col-form-label">Password:</label><br>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="user_pwd" name="password" placeholder="Enter password">
					</div>
				</div>
			   
				<button class="btn btn-primary" type="submit" form="login_user" value="Submit">Submit</button>
			</form>
						
		</div> <!-- end formbox -->

		<div class ="formbox" id="register_area">
			<h1>User Registration Form:</h1>
			<form action="/users/new" id="register_user" method=post>
			{% csrf_token %}
					<div class="form-group row">
						<label for="user_fname" class="2 col-form-label">First Name:</label><br>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="user_fname" name="ufname" placeholder="Enter first name">
						</div>
					</div>
					<div class="form-group row">
						<label for="user_lname" class="2 col-form-label">Last Name:</label><br>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="user_lname" name="ulname" placeholder="Enter last name">
						</div>
					</div>
					<div class="form-group row">
						<label for="user_email" class="2 col-form-label">Email:</label><br>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="user_email" name="uemail" placeholder="Enter email address">
						</div>
					</div>
					<div class="form-group row">
						<label for="user_pwd" class="2 col-form-label">Password:</label><br>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="user_pwd" name="password" placeholder="Enter password">
						</div>
					</div>
					<div class="form-group row">
						<label for="confirm_pwd" class="2 col-form-label">Confirm Password:</label><br>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="confirm_upwd" name="confirm_pwd" placeholder="Confirm password">
						</div>
					</div>
					<button class="btn btn-primary" type="submit" form="register_user" value="Submit">Register as a new user</button>
				</form>				
		</div> <!-- end register box -->
		<div id='errors'> <!-- was div flasharea -->
    	  {% for error in errors %}
    		<p> {{ error }} </p>
    	  {% endfor %}
      </div>

	</div> <!-- end container -->	
</body>
</html>