<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}">

  <title>Login Success</title>
</head>
<body>

  <div id='container'>
    <div id="navbar">
      <ul>
        <li><a href=" {% url 'courses:index' %} ">Manage (add/delete) Courses</a></li>
        <li><a href=" {% url 'login:manage_user' %} ">Manage Users</a></li> 
        <li><a href=" {% url 'courses:enroll' %} ">Enroll Users </a></li>  
        <li><a href=" {% url 'time-display:index' %} ">Time-Display</a></li>
        <li><a href=" {% url 'ninja-gold:index' %} ">Ninja-Gold</a></li>
        <li><a href=" {% url 'random-word:index' %} ">Random Word</a></li>
      </ul>
 </div> <!-- end navbar -->
  <h1>Login & Register Success</h1>
    <div id='wrapper'>
	<h2>Success!  Welcome {{ first_name }}!</h2>
    <h2>You've successfully {{ path }}</h2>
    </div> <!-- end wrapper -->
  </div> <!-- end container -->
  
</body>
</html>


