<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Layouts</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="wrapper">
    <div class="row" id="header">
      <h1>Header</h1>
      <h2>Subtitle</h2>
    </div> <!-- end row -->
    <div class="row zero-m" id="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Something</a></li>
        <li><a href="">Something more...</a></li>
        <li><a href="">Something even more...</a></li>
      </ul>
  </div> <!-- end row -->
  <div class="row" id="main">
    <div class="column twelve-s four-m three-l"</div>
      <div class="content"  id="coffee">
        <h3>Coffee Ipsum</h3>  
        <p>Pellent esque quam sem. In hac habitasse platea dictumst. Curabitur ut odio pharetra, eleifend elit eget, vehicula leo. Donec iaculis diam a nisi facilisis scelerisque. Vivamus sem orci, ornare a tortor at, fringilla finibus ligula. Nullam sagittis pellentesque nibh sed ornare. Pellentesque tincidunt nec velit vel cursus. Donec cursus ipsum sed placerat accumsan. Pellentesque blandit nisl a libero blandit, vel rutrum ex rutrum. Nam pellentesque quis ante sit amet consequat. Sed mattis purus non turpis ultricies efficitur. Sed libero tellus, sagittis ut metus at, condimentum commodo ligula. Aenean nibh dui, placerat sit amet venenatis nec, porttitor eget metus. In nec diam consequat, convallis est a, consequat ex. Vestibulum ac placerat felis. Maecenas iaculis, urna ac ornare scelerisque, est orci convallis neque, non bibendum ipsum magna ac neque. </p>
      </div>
    </div>
    <div class="column twelve-s four-m three-l">
      <div class="content" id="lorem">
        <h3>Lorem Ipsum</h3>
        <p>Dolor sit amet, consectetur adipiscing elit. Ut facilisis semper ante a feugiat. Maecenas eu fermentum dui. Cras tempus in nulla non tristique. Quisque tellus ipsum, facilisis ac mollis in, dignissim vel urna. Mauris ac dolor nec mauris tincidunt gravida sit amet nec lorem. Donec sapien dui, sagittis vel massa vel, vehicula hendrerit nisl. Mauris orci mauris, semper in cursus sit amet, tincidunt in mauris. Morbi varius nisl nisl, ac aliquet enim condimentum eget. Praesent faucibus varius erat, sit amet tempor arcu tincidunt nec. Fusce eu augue maximus, volutpat odio at, tempus massa. Cras nec iaculis diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer ultricies lectus quis purus venenatis, dapibus pharetra ex bibendum. </p>
      </div>
    </div>
    <div class="column twelve-s four-m three-l">
      <div class="content"  id="baby">
        <h3>Baby Ipsum</h3> 
        <p>Morbi aliquet fermentum vehicula. Sed eleifend, mi in vehicula luctus, eros quam luctus dolor, eu tempor neque odio nec est. Suspendisse ut nisi in ipsum posuere efficitur quis nec ligula. Duis in diam sapien. Morbi purus nisl, commodo nec lacus nec, blandit lacinia diam. Donec suscipit turpis id aliquet euismod. Donec ultricies tortor sit amet leo feugiat dapibus. Etiam luctus ipsum leo, vitae blandit velit aliquam at.</p>
      </div>
    </div>
    <div class="column twelve-s twelve-m three-l">
      <div class="content"  id="zombie">
        <h3>Zombie Ipsum</h3>
        <p>Vestibulum fermentum lorem vitae porttitor. Mauris at lorem vitae nisi rhoncus sagittis et eleifend erat. Integer eget nisi quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin tristique sed tortor ut gravida. Proin nisl sapien, pharetra id porttitor eget, ullamcorper nec tellus. Nullam eleifend condimentum nibh. Duis pharetra pellentesque nulla, blandit gravida nisl aliquam ut. </p>
      </div>
    </div>
 </div> <!-- end row main -->


</body>
</html>